/* Type whatever CSS you need here! */
/* NAMETAG */
.nametag {
    padding: 0;
}
.greeting {
    background-color: blue;
    color: white;
    padding: 12px;
}
.name {
    height: 150px;
    display: flex;
}
.name > h1 {
    flex: 1;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}
/* STUDENTS */
.present, .absent {
    border: 1px black solid;
    padding: 30px 0px 30px;
}
.present {
    background-color: greenyellow;
}
.absent {
    background-color: rgb(240, 76, 76);
}
/* RESTAURANT */
#dollarSign {
    color: green;
    font-weight: 700;
    font-size: 2em;
}
/* MOVIES */
#poster {
    width: 100%;
}
/* TWEET */
#profile {
    width: 50px;
}