/* Type whatever CSS you need here! */
#content {
    display: flex;
    flex-direction: column;
}
/* NAMETAG */
.nametag {
    padding: 0;
}
.greeting {
    background-color: blue;
    color: white;
    padding: 12px;
}
.name {
    height: 150px;
    display: flex;
}
.name > h1 {
    flex: 1;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}
/* STUDENTS */
.present, .absent {
    border: 1px black solid;
    padding: 30px 0px 30px;
}
.present {
    background-color: greenyellow;
}
.absent {
    background-color: rgb(240, 76, 76);
}